@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
    --color-footer: #244D3F;
    --color-footer-two: #346F5B;
    --color-body: #F8FAFC;
    --color-text-two: #64748B;
    --color-tag-body: #CBFADB;
    --font-geist: "Geist", sans-serif;
}

@layer components {
    .btn-main {
        @apply bg-footer text-white cursor-pointer py-1 px-4 rounded-sm hover:bg-footer-two transition duration-300;
    }
    .footer-text-two {
        @apply text-[12px] text-white opacity-50 font-normal;
    }
    .footer-text-one {
        @apply text-[12px] text-text-two font-normal;
    }
    .tag-one {
        @apply bg-tag-body text-footer py-1 px-5
    }
}